<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rs.ac.uns.ftn.eventsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme">
        <activity android:name=".activities.UpdateEventActivity"
            android:label="@string/updateEvent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SettingsUnAuthUserActivity" />
        <activity
            android:name=".activities.GoogleMapActivity"
            android:label="@string/map" />
        <activity
            android:name=".activities.CommentsActivity"
            android:label="@string/comments" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.AddFriendActivity" />
        <activity android:name=".activities.UserDetailActivity" />
        <activity android:name=".activities.ChatLogActivity" />
        <activity android:name=".activities.LatestMessagesActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateEventActivity"
            android:label="@string/createEvent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FilterEventsActivity"
            android:label="@string/filter_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SendInvitationsActivity"
            android:label="@string/invite_friends"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SimilarEventsActivity"
            android:label="@string/similar_posts" />
        <activity
            android:name=".activities.AuthorsEventsActivity"
            android:label="@string/authors_events" />
        <activity
            android:name=".activities.InterestedInEventActivity"
            android:label="@string/nav_item_interested" />
        <activity
            android:name=".activities.GoingToEventActivity"
            android:label="@string/nav_item_going" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EventDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NoInternetActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ForgottenPasswordActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="tajna" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>